.otp-verification .left {
    background-color: #eee;
}

.otp-verification .right {
    flex-direction: column;
}

.otp-verification .verfi-code {
    text-align: center;
}

.otp-verification .verfi-code button {
    background-color: transparent;
    border: none;
    color: #F4801F;
    text-decoration: underline;
    padding: 0 0 0 10px;
    margin: 0 !important;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.otp-verification form {
    box-shadow: 3px 2px 10px #dbdbdb;
    padding: 30px;
    border: 1px solid #eee;
    width: 550px;
}

.fgt-password .error_p.server_error {
    top: -10px;
}

@media(min-width: 992px) {
    .otp-verification .left {
        height: 100vh;
    }
}